@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100
  }

  .weekdays-grid {
    display: grid;
    grid-template-columns: repeat(7, 35px);
    place-items: center;

    @apply font-medium
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(30px, auto);
    user-select: none;
  }
  .calendar-grid .item {
    height: 30px;
    width: 35px;
    
    @apply grid place-items-center rounded hover:bg-gray-200 cursor-pointer
  }  
  .calendar-grid .item.selected {
    @apply bg-neutral-900 text-white
  }
  .calendar-grid .item.selected.start {
    @apply rounded-r-none
  }
  .calendar-grid .item.selected.end {
    @apply rounded-l-none
  }
  .calendar-grid .item.selected.middle {
    @apply rounded-none
  }
  .calendar-grid .item.hovered {
    @apply bg-gray-200 rounded-none
  }
  .calendar-grid .item.disabled {
    @apply hover:bg-transparent text-gray-500
  }
}

@layer components {
  .canvas {
    @apply fixed top-0 left-0 w-full h-full
  }

  .button {
    @apply bg-neutral-900 rounded text-white py-2 px-10 font-medium
    hover:bg-neutral-800 active:bg-black ring-black/50 focus:ring-4
  }
}